*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  background-color: #e6e9e8;
  font-family: 'Open Sans Condensed', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.cal-container {
  display: flex;
  justify-content: space-evenly;
}

.react-calendar {
  flex-basis: 45%;
  margin: 10px;
  border: 2px solid #a8ccc1;
  border-radius: 10px;
}


.booking-container {
  display: flex;
  justify-content: space-evenly;
}

.booking-container>* {
  border: 2px solid #a8ccc1;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #f4f5f7
}

.individual-schedule-container {
  flex-basis: 45%;
}

.process-booking-container {
  flex-basis: 55%;
}
