.booking-form {
  margin: 20px 0;
}

.booking-form p {
  margin: 5px 0
}

.service-select {
  margin-left: 10px;
}

.search-input-container .suggestion-input {
  float: right;
  width: 200px;
  line-height: 2.2;
}

.search-input-container .suggestion-input:focus {
  border-bottom: 2px solid #a8ccc1;
}

.search-input-container .search-input-container__inner {
  width: 200px;
  position: relative;
  margin: 15px 0;
}

.booking-form-btn {
  border: 1px solid #a8ccc1;
  border-radius: 30%;
  background-color: #f4f5f7;
  padding: 8px 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2px #bfd5cd;
  transition: all .5s
}

.booking-form-btn:hover {
  box-shadow: 0 1px #bfd5cd;
  top: 2px;
}

.booking-form-btn:focus {
  outline: none;
}

.booking-form-btn:active {
  box-shadow: none;
  top: 6px;
}
