.booking-register-container {
  display: flex;
}

.booking-form {
  margin: 20px 0;
}

.booking-form p {
  margin: 5px 0
}

.service-select {
  margin-left: 10px;
}

.search-input-container .suggestion-input {
  float: right;
  width: 200px;
  line-height: 2.2;
}

.search-input-container .suggestion-input:focus {
  border-bottom: 2px solid #a8ccc1;
}

.search-input-container .search-input-container__inner {
  width: 200px;
  position: relative;
  margin: 15px 0;
}

.booking-form-btn, .register-form-btn, .register-customer-btn {
  border: 1px solid #a8ccc1;
  border-radius: 30%;
  background-color: #f4f5f7;
  padding: 8px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 0 2px #bfd5cd;
  transition: all .5s
}

.register-form-btn {
  margin-top: 5px;
  padding: 1px;
  width: fit-content;
  border-radius: 20%;
}

.booking-form-btn:hover, .register-form-btn:hover, .register-customer-btn:hover {
  box-shadow: 0 1px #bfd5cd;
  top: 2px;
}

.booking-form-btn:focus, .register-form-btn:focus, .register-customer-btn:focus {
  outline: none;
}

.booking-form-btn:active, .register-form-btn:active, .register-customer-btn:active {
  box-shadow: none;
  top: 6px;
}

.modal-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  flex-basis: 50%
}

.register-customer-btn {
  margin: 0 auto;
  font-size: 15px;
  border-radius: 2%
}

.modal {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 30%;
  height: fit-content;
}

.modal:focus {
  outline: none
}

.modal-content {
  background: #f4f5f7;
  border: 2px solid #a8ccc1;
}

.modal-close {
  float: right;
  background-color: transparent;
  font-weight: bolder;
  width: 16px;
  height: 16px;
  border: none;
}

.modal-header {
  padding-top: 10px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 10px;
}

.register-form input[type='text'] {
  width: 50%
}
