.timeslot {
  margin: 4px;
  font-size: 13px;
}

.timeslot:nth-child(1) {
  margin-top: 0;
}

.timeslot:nth-of-type(16){
  margin-bottom: 0;
}

.timeslot--time {
  font-weight: bold;
}

.timeslot--customer {
  margin:0 5px;
}

.timeslot--service {
  float: right;
  margin-right: 3px;
}

.timeslot--delete-btn {
  float: right;
  background-color: transparent;
  font-weight: bolder;
  width: 16px;
  height: 16px;
  border: none;

}

.timeslot--schedule-clash-true {
  background-color: #e26565a8
}

.timeslot--schedule-clash-false {
  background-color: #cde0da45
}

.react-confirm-alert-body {
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}


.react-confirm-alert-body button{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  background-color: #688b80;
}

.react-confirm-alert-button-group {
  justify-content: space-evenly;
}
