.timetable {
  flex-basis: 55%;
  margin: 10px;
  height: auto;
}

.timetable-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #a8ccc1;
  border-radius: 10px;
  background-color: #f4f5f7;
}
